{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Color Library</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}"               type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="black">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <h1 class="header center orange-text">Saddles Color Library</h1>
      <br>

    </div>
  </div>


  <div class="container">
    <div class="section white-text">

      <div class="row grey darken-3 valign-wrapper color-row center-align">
        <div class="col m2 swatch left" style="background-color: #555"></div>
        <h4 class="col m3 left-align" >Label</h4>
        <p class="col s12 m2">Lab</p>
        <p class="col s12 m2">RGB</p>
        <p class="col s12 m2">#</p>
        <div class="col swatch-nub right" style="background-color: #555"></div>
      </div>

        {% for color in colors %}
          <div class="row grey darken-4 valign-wrapper  hoverable color-row center-align">
            <div class="col m2 swatch left" style="background-color: #{{ color.Hex|upper }}"></div>
            <h4 class="col m3 left-align" >{{ color.label }}</h4>
            <p class="col s12 m2">
              {{ color.col_l|floatformat:4 }}<br>
              {{ color.col_a|floatformat:4 }}<br>
              {{ color.col_b|floatformat:4 }}
            </p>
            <p class="col s12 m2">
              {{ color.R|floatformat:4 }}<br>
              {{ color.G|floatformat:4 }}<br>
              {{ color.B|floatformat:4 }}
            </p>
            <p class="col s12 m2">{{ color.Hex|upper }}</p>
            <div class="col swatch-nub right" style="background-color: #{{ color.Hex|upper }}"></div>
          </div>
        {% endfor %}




    </div>
  </div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
