/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.debug * {
  outline: 1px solid rgba(0,0,0,0.1);
  outline-color: rgba(0,0,0,0.1);
  outline-width: solid;
}

.swatch {
  height: 80px;
  display: block;
  border-radius:  0 40px 40px 0;
  margin-left: 0 !important;
  /*border-right: 8px solid #ddd;*/
}
.swatch-nub {
  height: 80px;
  width: 10px;
  display: block;
  padding: 0;
  border-radius:  50% 0 0 50% ;
}

.color-row .col {
  /*margin: 0;*/
}
.color-row {
  margin-bottom: 0px;
  margin-left: -1rem !important;
  margin-right: -1rem !important;
  /*min-height: 60px;*/
  /*border-bottom: 1px solid #ddd;*/
}
.color-row:hover {
  /*background-color: #f0f0f0;*/
  /*border-bottom: 1px solid #888;*/
}

.details {
  background-color: #eee;
  /*padding-top: 1em !important;*/
  /*padding-bottom: 1em !important;*/
  /*margin-bottom: 0 !important;*/
  /*border-bottom: 1px solid #aaa;*/
  /*margin-top: 10px;*/
}
.details .label {
  /*background-color: red;*/
  font-weight: bold;
  color: #888;
}

.row.no-margin {
  margin-bottom: 0;
}
.details .detail {
  min-height: 60px;
}
